body.scroll2-noselect{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.scroll2 {
    position: relative;
    width: 100%;
    height: 100%;
}

.scroll2 .scroll2-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.scroll2 .scroll2-rail {
    transition: all .3s ease;
    opacity: 0;
}

.scroll2 .scroll2-rail.active {
    opacity: .5;
}

.scroll2 .scroll2-bar {
    transition: opacity 1s ease, width .2s ease, height .2s ease;
    opacity: 0;
}

.scroll2 .scroll2-bar.active {
    opacity: .5;
}
